body {
  font-family: 'Muli', sans-serif;
  height: 100vh;
  color: #444444;
}

hr {
  border-color: #fca25d;
}

.appHero{
  margin-top: 40px;
}

.appHeader {
  margin-top: 16px;
  color: #fca25d;
  font-weight: 700;
}

.appSubHeader {
  margin-bottom: 40px;
}

.orange {
  color: #fca25d;
}

.main {
  align-items: center;
}

input {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none
}

.landingIns {
  margin-top: 25px;
  margin-bottom: 25px;
}