.answer {
  padding: 10px;
  background-color: #fca25d;
  color: white;
  transition: 70ms;
  margin: 25px;
  cursor: pointer;
}

.invalid {
  padding: 10px;
  background-color: rgba(85, 85, 85, 0.75);
  color: white;
  transition: 70ms;
  margin: 25px;
  cursor: not-allowed;
}

.invalid:active {
  /* background-color: rgba(85, 85, 85, 0.75); */
  background-color: rgba(209, 0, 0, 0.75);
  transition: 70ms;
}

.answer:active {
  background-color: #AFD9EA;
}

.selectedAnswer{
  padding: 10px;
  background-color: #AFD9EA;
  color: white;
  transition: 70ms;
  margin: 25px;
}