.answer {
  height: 50px;
  padding: 10px;
  background-color: rgb(0, 105, 119);
  color: white;
  transition: 70ms;
  margin: 25px;
}

.answer:active {
  background-color: rgb(14, 39, 78)
}

.selectedAnswer{
  height: 50px;
  padding: 10px;
  background-color: rgb(14, 39, 78);
  color: white;
  transition: 70ms;
  margin: 25px;
}