.appBtnCtn {
  display: flex;
  justify-content: center;
}

.appButton {
  width: 392px;
  height: 75px;
  margin: 32px;
  padding: 8px 16px;
  background-color: #F1C5B0;
  border: none;
  color:white;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  overflow: auto;
}

.appButton:hover {
  opacity: .7;
}