.appBtnCtn {
  display: flex;
  justify-content: center;
}

.appButton {
  width: 392px;
  margin: 16px 32px;
  padding: 16px 16px;
  background-color: #fca25d;
  border: none;
  color:white;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  overflow: auto;
}

.appButton:hover {
  opacity: .7;
}