.centerDivs {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.orange {
    color: #fca25d;
}

.blue {
    color: #AFD9EA; 
}

.boldText {
    font-weight: 700;
}