.centerDivs {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.gameName, .startTimer {
    text-align: center;
}

.orange {
    color: #fca25d;
}

.blue {
    color: #AFD9EA; 
}

.redTimer {
    color: rgba(209, 0, 0, 0.75);
}


.hostQuestions {
    padding: 24px;
}

.avatarImg {
    background-color: red;
    margin: auto;
}

.displayName {
    margin: 8px;
    /* color: #AFD9EA; */
}

.boldFont {
    font-weight: 700;
}

.displayTraits {
    margin: 8px;
    /* color: #fca25d; */
}